body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
header {
  background-color: #424242;
  color: #FFFFFF;
  height: 80px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  .image {
    width: 100%;
  }
}